<ul>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-implementing-secure-passwords">Implementing Secure Passwords</a></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-adding-signout-functionality">Adding Signout Functionality</a></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-persisting-login-between-page-refreshes">Persisting Login between Page Refreshes</a><i class="fa fa-hand-o-left"></i></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-refactoring-server-authentication-code">Refactoring Server Authentication Code</a><i class="fa fa-hand-o-left"></i></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-implementing-clientside-authorization">Implementing Clientside Authorization</a><i class="fa fa-hand-o-left"></i></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-implementing-serverside-authorization">Implementing Serverside Authorization</a><i class="fa fa-hand-o-left"></i></li>
  <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-security-and-authorization-protecting-admin-pages-on-the-client">Protecting Admin Pages on the Client</a><i class="fa fa-hand-o-left"></i></li>
</ul>
<!-- <script src="http://localhost:2368/livereload.js"></script> -->
