<div class="megamenu-row">
  <h3 class="col12">Pluralsight - AngularJS Patterns: Clean Code</h3>
</div><!-- .megamenu-row -->
<div class="megamenu-row">
  <div class="col12">
    <ul>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Course Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Separation of Concerns</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Organizing Your App</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Modules</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Readable Code and AngularJS</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Controller Patterns</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Annotations and Code Analysis</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Exception Handling</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Using a Team Style Guide</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col12 -->
</div><!-- .megamenu-row -->
