<div class="megamenu-row">
  <h3 class="col12">Pluralsight - Building AngularJS and Node.js Apps with the MEAN Stack</h3>
</div><!-- .megamenu-row -->
<div class="megamenu-row">
  <div class="col4">
    <strong>Creating a Walking Skeleton</strong>
    <ul>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction/">Course Intro</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction-prerequisites/">Prerequisites</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction-versions/">Versions</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton/">Introduction</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-git-and-package-json/">Git & package.json</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-client-side-dependencies-with-bower/">Client-side dependencies with Bower</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-the-node-application/">Creating the Node Application</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-adding-stylus/">Adding Stylus</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-a-layout/">Creating a Layout</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-the-angular-application/">Creating the Angular Application</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-adding-mongodb/">Adding MongoDB</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-displaying-data-in-a-view/">Displaying Data in a View</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-summary/">Summary</a></li>
    </ul>
  </div><!-- .col4 -->
  <div class="col4">
    <strong>Deploying to Heroku</strong>
    <ul>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-deploying-to-heroku-introduction">Introduction</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-deploying-to-heroku-preparing-for-heroku">Preparing for Heroku</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-deploying-to-heroku-heroku-and-mongodb">Heroku and MongoDB</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-deploying-to-heroku-pushing-to-heroku">Pushing to Heroku</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-deploying-to-heroku-general-heroku-troubleshooting">General Heroku Troubleshooting</a></li>
    </ul>
  </div><!-- .col4 -->
  <div class="col4">
    <strong>Designing the UI</strong>
    <ul>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-designing-the-ui-introduction">Introduction</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-designing-the-ui-creating-the-header-and-footer">Creating the Header and Footer</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-designing-the-ui-creating-the-main-page-content">Creating the Main Page Content</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-designing-the-ui-adding-data-to-the-main-page">Adding Data to the Main Page</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-designing-the-ui-summary">Summary</a></li>
    </ul>
  </div><!-- .col4 -->
</div><!-- .megamenu-row -->
<hr>
<div class="megamenu-row">
  <div class="col6">
    <strong>Authentication</strong>
    <ul>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-introduction">Introduction</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-adding-the-login-display">Adding the Login Display</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-refactoring-server-js">Refactoring server.js</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-preparing-for-login">Preparing for Login</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-creating-the-server-login-code">Creating the Server Login Code</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-creating-the-client-login-code">Creating the Client Login Code</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-improving-the-client-login-code">Improving the Client Login Code</a></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-authentication-improving-the-server-login-code">Improving the Server Login Code</a></li>
    </ul>
  </div><!-- .col6 -->
  <div class="col6">
    <strong>Security and Authorization</strong>
    {{> "current"}}
  </div><!-- .col6 -->
</div><!-- .megamenu-row -->
<hr>
<div class="megamenu-row">
  <div class="col6">
    <strong>Client-side Testing</strong>
    <ul>
      <li><a href="/building-angular-js-and-node-js-apps-with-the-mean-stack-client-side-testing-installing-testing-tools">Installing Testing Tools</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-client-side-testing-testing-the-myuser-service">Testing the myUser Service</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col6 -->
  <div class="col6">
    <strong>Implementing Signup - Creating Entities</strong>
    <ul>
      <li><a href="#">Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Implementing the Client Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Server-side Controller</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Refactoring the Server-side Model</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Implementing Model Validation</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Summary</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col6 -->
</div><!-- .megamenu-row -->
<hr>
<div class="megamenu-row">
  <div class="col4">
    <strong>Use Profile - Updating Data</strong>
    <ul>
      <li><a href="#">Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Display</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Client-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Server-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Summary</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col4 -->
  <div class="col4">
    <strong>Course List - Sorting, Filtering, and Caching</strong>
    <ul>
      <li><a href="#">Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Client-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Server-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Filtering and Sorting</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Getting Main Page Data from the Server</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Caching Data</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Summary</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col4 -->
  <div class="col4">
    <strong>Course Details - Selecting and Caching Single Entities</strong>
    <ul>
      <li><a href="#">Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Client-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Creating the Server-side Code</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Getting Cached Data</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Summary</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href="#">Course Summary</a><i class="fa fa-hand-o-left"></i></li>
    </ul>
  </div><!-- .col4 -->
</div><!-- .megamenu-row -->
