<div class="megamenu-row">
  <h3 class="col12">Pluralsight - Introduction to Mongoose for Node.js and MongoDB<i class="fa fa-hand-o-left"></i></h3>
</div><!-- .megamenu-row -->
<div class="megamenu-row">
  <div class="col4">
    <strong>Course Introduction</strong>
    <ul>
      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction/'>Introduction</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-prerequisites/'>Prerequisites</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-why-mongoose/'>Why Mongoose?</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-our-demo-application/'>Our Demo App</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-summary/'>Summary</a><i class="fa fa-check-circle-o"></i></li>
    </ul>
  </div>
  <div class="col4">
    <strong>Setting up the Demo Application</strong>
    <ul>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-introduction/'>Introduction</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-node-js-packages/'>Node.js Packages</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-helpful-tools/'>Helpful Tools</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-demo/'>Demo</a><i class="fa fa-check-circle-o"></i></li>
    </ul>
  </div>
  <div class="col4">
    <strong>MongoDB</strong>
    <ul>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-introduction/'>Introduction</a><i class="fa fa-hand-o-left"></i></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-node-js-packages/'>Node.js Packages</a></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-helpful-tools/'>Helpful Tools</a></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-demo/'>Demo</a></li>
      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-summary/'>Summary</a></li>
    </ul>
  </div>
</div><!-- .megamenu-row -->
<hr>
<div class="megamenu-row">
  <div class="col4">
    <strong>MongoDB</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>Hosting Options</a></li>
      <li><a href='//'>The Daily Stand-up Database</a></li>
      <li><a href='//'>Summary</a></li>
    </ul>
  </div>
  <div class="col4">
    <strong>Building the Mongoose Schema</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>Comparison to RDBMS Schemas</a></li>
      <li><a href='//'>Simple Schema Example</a></li>
      <li><a href='//'>Allowed Data Types</a></li>
      <li><a href='//'>More Complex Schema Example</a></li>
      <li><a href='//'>Building Our Daily Stand-Up Schema</a></li>
      <li><a href='//'>Summary</a></li>
    </ul>
  </div>
  <div class="col4">
    <strong>Building a Model</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>Our First Model</a></li>
      <li><a href='//'>Documents</a></li>
      <li><a href='//'>Sub-Documents</a></li>
      <li><a href='//'>Saving Documents</a></li>
      <li><a href='//'>Summary</a></li>
    </ul>
  </div>
</div><!-- .megamenu-row -->
<hr>
<div class="megamenu-row">
  <div class="col4">
    <strong>Queries</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>Documents and Their Helper Methods</a></li>
      <li><a href='//'>Updating and Removing Documents</a></li>
      <li><a href='//'>Querying Documents</a></li>
      <li><a href='//'>Summary</a></li>
    </ul>
  </div>
  <div class="col4">
    <strong>Validation</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>Built-In Validators</a></li>
      <li><a href='//'>Introduction to Middleware</a></li>
      <li><a href='//'>Custom Validators</a></li>
      <li><a href='//'>Handling Validation Errors</a></li>
      <li><a href='//'>Adding Validation to Our Application</a></li>
      <li><a href='//'>Summary</a></li>
    </ul>
  </div>
  <div class="col4">
    <strong>Wrapping Things Up</strong>
    <ul>
      <li><a href='//'>Introduction</a></li>
      <li><a href='//'>More Tools</a></li>
      <li><a href='//'>Alternative Framework</a></li>
      <li><a href='//'>Course Summary</a></li>
    </ul>
  </div>
</div><!-- .megamenu-row -->
