$pixbit_blue : #2EACFF;

.menuzord{
  background: none;
  h1, h2, h3, h4, h5, h6, ul, li{
    color: white;
    text-align: left;
  }
  h3{
    color: black;
    background: white;
    text-transform: uppercase;
    margin: 0;
  }
  a:hover{
    color: black;
    background: white;
  }
  .fa{
    padding-left: 10px;
    font-family: "FontAwesome";
  }
}

.menuzord,
.menuzord *,
.menuzord-menu > li.search form input[type="text"] {
  font-family: 'Whitney A', 'Whitney B', sans-serif;
}

.menuzord-menu > li > .megamenu {
  border-top: none;
  background: black;
}
