$pixbit_blue : #2EACFF;

.menuzord{
  background: none;
  h1, h2, h3, h4, h5, h6, ul, li{
    color: white;
    text-align: left;
  }
  h3{
    color: black;
    background: white;
    text-transform: uppercase;
  }
  a:hover{
    color: black;
    background: white;
  }
}

.menuzord-menu > li > .megamenu {
  border-top: none;
  background: black;
}
