<div class="col6">
  <strong><a href="https://egghead.io/series/angularjs-application-architecture">AngularJS Architecture</a></strong>
  <ul>
    <li><a href='/angularjs-architecture-series-introduction'>Architecture Introduction</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-file-structure'>File Structure</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-using-submodules'>Using Sub-Modules</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-basic-state-with-ui-router'>Basic State with ui-router</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-using-ui-routers-named-views'>Using ui-router's named views</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-navigating-between-states-with-ui-router'>Navigating between states</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-prefer-the-controller-as-syntax'>Controller as syntax</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-refactor-to-a-data-model'>Refactor to a data model</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-using-http-to-load-json-data'>Using $http to load JSON data</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-control-your-promises-with-q'>Control your promises with $q</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-edit-and-create-bookmark-states'>Edit and Create Bookmark States</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-create-bookmark'>Create Bookmark</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-edit-bookmark-2'>Edit Bookmark</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-delete-bookmark'>Delete Bookmark</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-animate-state-transitions-with-ui-router'>Animate state transitions with ui-router</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/angularjs-architecture-review'>Review</a><i class="fa fa-check-circle-o"></i></li>
  </ul>
</div><!-- .col6 -->
