<div class="col6">
  <strong><a href="https://egghead.io/series/angularjs-app-from-scratch-getting-started">Building an Angular App</a></strong>
  <ul>
    <li><a href='/building-an-angular-app-eggly-introduction/'>Eggly Introduction</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-bootstrapping/'>Bootstrapping</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-controllers/'>Controllers</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-filters/'>Filters</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-simple-states/'>Simple States</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-add-a-bookmark-with-ng-submit-and-ng-model/'>Adding bookmarks</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-editing-a-bookmark-with-ng-model-and-a-controller/'>Editing a bookmarks</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-deleting-an-item-from-a-collection/'>Deleting from collection</a><i class="fa fa-check-circle-o"></i></li>
    <li><a href='/building-an-angular-app-eggly-review/'>Eggly Review</a><i class="fa fa-check-circle-o"></i></li>
  </ul>
</div><!-- .col6 -->
