<li><a href='#'>Development</a>
  <div class="megamenu">
    {{> "navigation/development/pluralsight/intro-to-mongoose-for-node-js-and-mongodb-course"}}
    <hr>
    {{> "navigation/development/pluralsight/building-angular-js-and-node-js-with-the-mean-stack-course"}}
    <hr>
    {{> "navigation/development/pluralsight/angularjs-patterns-clean-code"}}
    <hr>
    {{> "navigation/development/egghead/angular-js-series"}}
    <hr>
    {{> "navigation/development/egghead/node-js"}}
    <hr>
  </div><!-- .megamenu -->
</li>
