<li><a href='#'>Finances</a>
  <div class="megamenu">
    <div class="megamenu-row">
      <div class="col4">
        <strong>Financial Calendar</strong>
        <ul>
          <li><a href="#">Q1 2015</a></li>
        </ul>
      </div><!-- .col4 -->
      <div class="col4">
        <strong>End of Pay Period</strong>
        <ul>
          <li><a href="#">Current Procedure</a></li>
          <li><a href="#">New Procedure</a></li>
        </ul>
      </div><!-- .col4 -->
      <div class="col4">
        <strong>Daily Finances</strong>
        <ul>
          <li><a href="#">Writing Checks</a></li>
          <li><a href="#">Expenses</a></li>
        </ul>
      </div><!-- .col4 -->
    </div><!-- .megamenu-row -->
  </div><!-- .megamenu -->
</li>
