<li><a href='#'>Hiring</a>
  <div class="megamenu">
    <div class="megamenu-row">
      <div class="col12">
        <strong>Onboarding</strong>
        <ul>
          <li><a href="https://robots.thoughtbot.com/automate-and-iterate-onboarding">Make Your New Hires Feel Welcome</a><i class="fa fa-hand-o-left"></i></li>
        </ul>
      </div><!-- .col12 -->
    </div><!-- .megamenu-row -->
  </div><!-- .megamenu -->
</li>
