<div class="megamenu-row">
  <h3>Egghead.io - AngularJS Series</h3>
</div><!-- .megamenu-row -->
<div class="megamenu-row">
  {{> "navigation/development/egghead/angular-js-series/building-an-angular-app"}}
  {{> "navigation/development/egghead/angular-js-series/angularjs-architecture"}}
</div><!-- .megamenu-row -->
