<div class="megamenu-row">
  <h3>Egghead.io - NodeJS</h3>
</div><!-- .megamenu-row -->
<div class="megamenu-row">
  <div class="col6">
    <ul>
      <li><a href='/node-js-what-are-commonjs-modules/'>What are CommonJS Modules?</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/node-js-npm/'>NPM</a><i class="fa fa-check-circle-o"></i></li>
      <li><a href='/node-js-creating-demo-apis-with-json-server/'>Creating Demo API's</a><i class="fa fa-check-circle-o"></i></li>
    </ul>
  </div><!-- .col6 -->
  <div class="col6">
    <strong>Code Academy</strong>
    <ul>
      <li><a href='http://www.codecademy.com/en/tracks/mandrill'>Mandrill API</a></li>
    </ul>
  </div><!-- .col6 -->
</div><!-- .megamenu-row -->
